-e git+https://github.com/LaAbadIAdelCrimen/AbadIA.git@d98e71d59c261818b14722afd2f1fe2403d5568f#egg=abadia_DQN
absl-py==0.1.12
appnope==0.1.0
astor==0.6.2
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==1.5.0
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
defusedxml==0.5.0
dill==0.2.7.1
entrypoints==0.2.3
future==0.16.0
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gast==0.2.0
google==2.0.1
google-api-core==1.7.0
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-bigquery==1.8.1
google-cloud-bigquery-datatransfer==0.3.0
google-cloud-bigtable==0.32.1
google-cloud-container==0.2.1
google-cloud-core==0.29.1
google-cloud-datastore==1.7.3
google-cloud-dns==0.29.2
google-cloud-firestore==0.31.0
google-cloud-language==1.1.1
google-cloud-logging==1.10.0
google-cloud-monitoring==0.31.1
google-cloud-pubsub==0.39.1
google-cloud-resource-manager==0.28.3
google-cloud-runtimeconfig==0.28.3
google-cloud-spanner==1.7.1
google-cloud-speech==0.36.3
google-cloud-storage==1.13.2
google-cloud-trace==0.20.2
google-cloud-translate==1.3.3
google-cloud-videointelligence==1.6.1
google-cloud-vision==0.35.2
google-gax==0.15.16
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
graphviz==0.10.1
grpc-google-iam-v1==0.11.4
grpcio==1.10.0
gym==0.10.5
-e git+git@github.com:LaAbadIAdelCrimen/abadia-gym.git@440b7697c328a70c2f6e03ad889b3d7592d917c7#egg=gym_abadia&subdirectory=gym_abadia
h5py==2.7.1
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.1.5
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.4
numpy==1.14.2
oauth2client==3.0.0
pandas==0.24.0
pandocfilters==1.4.2
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
ply==3.8
prometheus-client==0.5.0
prompt-toolkit==2.0.8
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.6.1
psutil==5.5.0
ptyprocess==0.6.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pydot==1.4.1
pydot-ng==2.0.0
pyglet==1.3.2
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.7.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.18.4
rsa==3.4.2
scipy==1.0.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
